* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    display: flex;
    min-height: 100vh;
}

body {
    display: flex;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.app {
    background-color: yellow;
    padding: 1.0rem;
    /*display: flex;*/
    flex-direction: column;
    width: 80%;
}